.main_menu_button, .menu_button_1 {
	width: 45px;
	height: 45px;
	margin: 10px 10px;
	background-color: white;
	border-radius: 50%;
	box-sizing: border-box;
	border: solid 1px black;
	box-shadow: 0px 0px 1px black;
	color: black;
	font-size: 20px;
	cursor: pointer;
}
.menu_box_1 {
	position: fixed;
	width: 65px;
	height: 100vh;
	background-color: white;
	opacity: 0.1;
	align-items: flex-start;
	z-index: 2;
}
.menu_box_1:hover {
	opacity: 1;
}
.button_name {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	color: black;
	font-size: calc(24px + 1vw);
}
.button_name div {
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: radial-gradient(rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 100%);
	z-index: 1;
}